<!-- This file contains any "Message Of The Day" Type information -->
<!-- It will be included below the log-in form on the login page. -->
$Date: 2009-01-31 18:52:06 -0400 (Sat, 31 Jan 2009) $
$Rev: 1845 $
